In [1]:
import tushare as ts
import pandas as pd
import numpy as np

In [2]:
frames = []
arr = [(2017,3), (2017,2)]
for item in arr:
    df = ts.get_profit_data(item[0], item[1])
    df.set_index('code', inplace=True)
    frames.append(df)

quaters = ['{}-{}'.format(x,y) for (x, y) in arr]
df = pd.concat(frames, keys=quaters)

[Getting data:]##########################################################[Getting data:]##########################################################

In [5]:
df.columns

Index([u'name', u'roe', u'net_profit_ratio', u'gross_profit_rate',
       u'net_profits', u'eps', u'business_income', u'bips'],
      dtype='object')

In [7]:
df.head(3)

               name    roe  net_profit_ratio  gross_profit_rate  net_profits  \
       code
2017-3 000717  韶钢松山  79.22              9.44            14.1042    1750.2624
       600793  宜宾纸业  65.40             13.31             7.9084     100.6484
       600306   商业城  63.19             18.55            17.8601     114.9175

                  eps  business_income    bips
       code
2017-3 000717  0.7233       18534.1754  7.6602
       600793  0.9558         755.8083  7.1776
       600306  0.6451         619.3852  3.4769

In [8]:
df.tail(3)

                name  roe  net_profit_ratio  gross_profit_rate  net_profits  \
       code
2017-2 600678   四川金顶  NaN             -8.77            22.1507      -5.5103
       002306  *ST云网  NaN            -17.42            44.6525      -8.4833
       601005  *ST重钢  NaN            -22.08             2.4086    -998.4820

                  eps  business_income    bips
       code
2017-2 600678 -0.0157          62.8067  0.1799
       002306 -0.0106          48.6773  0.0608
       601005 -0.2250        4521.7270  1.0193

In [14]:
df.index.names

FrozenList([None, u'code'])

In [18]:
df.index.names=[u'quarter', u'code']

In [20]:
df.index.names

FrozenList([u'quarter', u'code'])

In [32]:
df.loc['2017-2'].loc['601318']

name                    中国平安
roe                    10.19
net_profit_ratio        9.36
gross_profit_rate    14.1248
net_profits            43427
eps                   2.3756
business_income       463765
bips                 25.3697
Name: 601318, dtype: object

In [27]:
type(df.loc['2017-2'])

pandas.core.frame.DataFrame

In [34]:
df.loc[('2017-2','601318'),:]

/usr/local/lib/python2.7/site-packages/pandas/core/indexing.py:1367: PerformanceWarning: indexing past lexsort depth may impact performance.
  return self._getitem_tuple(key)

,,name,roe,net_profit_ratio,gross_profit_rate,net_profits,eps,business_income,bips
quarter,code,,,,,,,,
2017-2,601318,中国平安,10.19,9.36,14.1248,43427.0,2.3756,463765.0,25.3697

In [35]:
df.sortlevel(inplace=True)

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)
  """Entry point for launching an IPython kernel.

In [36]:
df.sort_index(inplace=True)

In [38]:
df.loc[('2017-2','601318')]

,,name,roe,net_profit_ratio,gross_profit_rate,net_profits,eps,business_income,bips
quarter,code,,,,,,,,
2017-2,601318,中国平安,10.19,9.36,14.1248,43427.0,2.3756,463765.0,25.3697

In [44]:
#https://www.somebits.com/~nelson/pandas-multiindex-slice-demo.html
df.loc[(slice(None), '601318'),:]

,,name,roe,net_profit_ratio,gross_profit_rate,net_profits,eps,business_income,bips
quarter,code,,,,,,,,
2017-2,601318,中国平安,10.19,9.36,14.1248,43427.0,2.3756,463765.0,25.3697
2017-3,601318,中国平安,14.79,10.00,15.1631,66318.0,3.6278,663006.0,36.2689