In [1]:
import tushare as ts
df_basic = ts.get_stock_basics()
df_profit = ts.get_profit_data(2017,3)
df_report = ts.get_report_data(2017,3)

[Getting data:]############################################################[Getting data:]############################################################

In [2]:
df_basic.loc[u'601318']

name                       中国平安
industry                     保险
area                         深圳
pe                          7.9
outstanding              108.33
totals                    182.8
totalAssets         7.41215e+08
liquidAssets                  0
fixedAssets          4.5455e+06
reserved            1.30799e+07
reservedPerShare           7.16
esp                        2.55
bvps                      32.77
pb                          2.4
timeToMarket           20070301
undp                3.79587e+07
perundp                   20.76
rev                       21.81
profit                     77.1
gpr                           0
npr                       12.04
holders                  444462
Name: 601318, dtype: object

In [3]:
df_profit[df_profit.code=='601318']

,code,name,roe,net_profit_ratio,gross_profit_rate,net_profits,eps,business_income,bips
223,601318,中国平安,14.79,10.0,15.1631,66318.0,3.6278,663006.0,36.2689

In [4]:
df_report[df_report.code=='601668']

,code,name,eps,eps_yoy,bvps,roe,epcf,net_profits,profits_yoy,distrib,report_date
1446,601668,中国建筑,0.83,5.06,NaN,12.4,NaN,2578217.9,4.1,NaN,10-28
1502,601668,中国建筑,0.83,5.06,NaN,12.4,NaN,2578217.9,4.1,NaN,10-28