In [18]:
import pandas as pd
import numpy as np
from pandas_datareader import data, wb # 需要安装 pip install pandas_datareader
import datetime
import matplotlib
import matplotlib.pyplot as plt
#matplotlib.style.use('ggplot')
#%matplotlib inline
#%pylab inline
#%config InlineBackend.figure_format = 'retina'

# 定义获取数据的时间段
start = datetime.datetime(2018, 1, 1)
end = datetime.date.today()

# 获取股票信息 ex: 中国石油
# 如果要看上证指数请参考换成600000.ss
# 如果要看深成指请换成000001.sz
cnpc = data.DataReader("601318.SS", 'yahoo', start, end)

cnpc.head(5)

                 Open       High        Low      Close  Adj Close     Volume
Date
2018-01-02  70.209999  72.800003  70.180000  72.589996  72.589996  123616317
2018-01-03  73.400002  73.900002  70.110001  70.970001  70.970001  179405492
2018-01-04  71.019997  72.199997  70.550003  71.180000  71.180000  106115784
2018-01-05  71.589996  71.879997  70.449997  70.889999  70.889999   77207581
2018-01-08  70.790001  70.790001  69.320000  70.010002  70.010002  122872953

In [5]:
cnpc.tail(5)

                 Open       High        Low      Close  Adj Close     Volume
Date
2018-01-15  75.349998  78.500000  75.349998  77.650002  77.650002  200659866
2018-01-16  77.680000  79.480003  77.199997  77.809998  77.809998  150164317
2018-01-17  78.099998  79.349998  76.500000  77.339996  77.339996  141357416
2018-01-18  78.559998  80.110001  77.080002  77.610001  77.610001  207447138
2018-01-19  78.300003  79.059998  76.889999  77.589996  77.589996  155380912

In [6]:
cnpc.describe()

            Open       High        Low      Close  Adj Close        Volume
count  14.000000  14.000000  14.000000  14.000000  14.000000  1.400000e+01
mean   73.615000  74.974286  72.692857  73.877857  73.877857  1.363489e+08
std     3.270476   3.478345   3.122327   3.052678   3.052678  3.939696e+07
min    70.209999  70.790001  69.320000  70.010002  70.010002  7.720758e+07
25%    71.027499  72.110001  70.247499  71.315000  71.315000  1.129399e+08
50%    72.130001  73.510002  70.854999  72.619999  72.619999  1.261077e+08
75%    77.097499  78.919998  76.212500  77.527496  77.527496  1.540768e+08
max    78.559998  80.110001  77.199997  77.809998  77.809998  2.074471e+08

In [9]:
cnpc.columns

Index([u'Open', u'High', u'Low', u'Close', u'Adj Close', u'Volume'], dtype='object')

In [19]:
type(cnpc['Close'])

pandas.core.series.Series

In [20]:
cnpc['Close'].plot()

NameError: global name '_converter' is not defined